html {
    overflow-y: scroll;
}

.jumbotron {
    margin:0;
}

.bootstrap-tagsinput {
    width:100%;
}

.no-padding {
    padding: 0;
}

#cook-time-group {
    margin-top: 15px;
    margin-bottom: 0;
}

.centered-and-cropped {
     object-fit: cover;
}

.recipe-details {
    height: 100px;
    margin-left: 110px;
}

.starrr {
    color: #ee8b2d;
}

#rating-search {
    margin-right: 3px
}


.ingredient {
    margin-bottom: -1px;
}
